* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(35, 37, 40);
  height: 100vh;
  width: 100%;
}

nav {
  /* background: teal; */
  padding: 20px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoDiv a {
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navigator {
  background-color: rgba(0, 160, 253, 0.3);
  padding: 10px 5px;
  margin: 0 10px;
  border-radius: 14px;
}

.navigator a {
  color: white;
  margin: 0 10px;
  font-size: 18px;
  font-weight: 500;
}

.actionBtns button {
  background-color: rgb(217, 217, 217);
  color: black;
  border: none;
  padding: 10px 10px;
  margin: 0 5px;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background-color: red; */
  padding: 10px 5%;
}

.sortingBar {
  display: flex;
  align-items: center;
  padding: 10px 5%;
  /* background-color: aqua; */
  justify-content: space-between;
  /* flex-direction: row; */
}

.sortOptions select {
  /* flex-basis: 25%; */
  border: none;
  background-color: hsl(0, 0%, 100%);
  padding: 5px;
  padding-right: 1rem;
  border-radius: 6px;
  width: fit-content;
  font-size: 15px;
  font-weight: 600;
}

.sortOptions label {
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;
}
.categoryList {
  /* padding: 10px 5%; */
  width: fit-content;
  /* flex-basis: 75%; */
  margin-left: 25px;
  /* background-color: salmon; */
}

.categoryList button {
  background-color: rgba(0, 121, 191, 0.62);
  color: white;
  border: none;
  padding: 10px;
  margin-right: 25px;
  margin-top: 10px;
  border-radius: 14px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}

.categoryList .active {
  background-color: rgba(255, 164, 0, 0.62);
}

.productCard {
  background-color: rgb(50, 52, 55);
  position: relative;
  /* width: 300px; */
  flex-basis: 300px;
  /* height: 50vh; */
  padding: 15px;
  border-radius: 14px;
  margin: 10px;
}

.productImage {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 250px;
  border-radius: 14px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.productCard img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  /* border-radius: 14px; */
  /* margin-bottom: 10px; */
}

.searchSection {
  /* background-color: bisque; */
  padding: 10px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sortOptions {
  /* background-color: royalblue; */
}

.search {
  width: 50%;
  /* background-color: yellow; */
}

.search input {
  background-color: hsla(0, 0%, 100%, 0.603);
  color: black;
  width: 50%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 15px;
}

.rating {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: orange;
  opacity: 0.7;
  height: 40px;
  width: fit-content;
  padding: 0px 10px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.productCard p {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.productCard button {
  border: none;
  color: white;
  background-color: rgba(0, 120, 191, 0.8);
  padding: 10px;
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.pName {
  height: 20%;
  color: white;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 20px;
  max-height: 40px;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  /* background-color: yellow; */
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
