* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(35, 37, 40);
  height: 100vh;
  width: 100%;
}

nav {
  /* background: teal; */
  padding: 20px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoDiv a {
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navigator {
  background-color: rgba(0, 160, 253, 0.3);
  padding: 10px 5px;
  margin: 0 10px;
  border-radius: 14px;
}

.navigator a {
  color: white;
  margin: 0 10px;
  font-size: 18px;
  font-weight: 500;
}

.actionBtns button {
  background-color: rgb(217, 217, 217);
  color: black;
  border: none;
  padding: 10px 10px;
  margin: 0 5px;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: red;
  padding: 30px 5%;
}

.productCard {
  background-color: rgb(50, 52, 55);
  width: 300px;
  height: 350px;
  padding: 15px;
  border-radius: 14px;
  margin: 10px;
}

.productCard img {
  background-color: white;
  width: 100%;
  height: 75%;
  object-fit: contain;
  border-radius: 14px;
  margin-bottom: 10px;
}

.pName {
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 20px;
  max-height: 40px;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  /* background-color: yellow; */
}
